.custom-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 200px;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  .custom-button:focus {
    outline: none;
  }
  